SCIM OpenAPI (swagger) specification fails to build c# client library

Hello!

I'm kinda new to a lot of this...

I need to add bulk users to Gluu 4.2.3 server

I've looked at the book "Securing the Perimeter" by Michael Schwartz & Maciej Machulak and the Gluu OXD and SCIM docs

For my purposes, I think the 'best' way is to use the SCIM API rather than LDAP and then refresh the cache.  I hope to then re-use some of the code (or concepts) for user admin programs to come later.

Language of choice here is c# on windows with VS2015 and .NET 4.7.2

I'm trying to build a client library to use with SCIM scim/scim-server/src/main/resources/gluu-scim-openapi.yaml using https://app.swaggerhub.com

I downloaded an existing OXD c# client library from Swagger just to get the hang of things, then uploaded the 4.2.2 branch of 
gluu-scim-openapi.yaml from GitHub and uploaded to Swagger (14 day trial) and downloaded the c# client library and tried to compile it.

But I get compile errors:


```
Restoring NuGet packages...
To prevent NuGet from restoring packages during build, open the Visual Studio Options dialog, click on the Package Manager node and uncheck 'Allow NuGet to download missing packages during build.'
NuGet package restore finished.
1>------ Rebuild All started: Project: IO.Swagger, Configuration: Debug Any CPU ------
1>Build started 6/4/2021 4:36:25 PM.
1>GenerateTargetFrameworkMonikerAttribute:
1>Skipping target "GenerateTargetFrameworkMonikerAttribute" because all output files are up-to-date with respect to the input files.
1>CoreCompile:
1>  C:\Program Files (x86)\MSBuild\14.0\bin\csc.exe /noconfig /nowarn:1701,1702,2008 /nostdlib+ /errorreport:prompt /warn:4 /define:DEBUG;TRACE /errorendlocation /preferreduilang:en-US /highentropyva+ /reference:"C:\Users\scott\Documents\Visual Studio 2010\gluu-scim-server-4.2.2-csharp-client\packages\JsonSubTypes.1.2.0\lib\net45\JsonSubTypes.dll" /reference:"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\Microsoft.CSharp.dll" /reference:"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\mscorlib.dll" /reference:"C:\Users\scott\Documents\Visual Studio 2010\gluu-scim-server-4.2.2-csharp-client\packages\Newtonsoft.Json.10.0.3\lib\net45\Newtonsoft.Json.dll" /reference:"C:\Users\scott\Documents\Visual Studio 2010\gluu-scim-server-4.2.2-csharp-client\packages\RestSharp.105.1.0\lib\net45\RestSharp.dll" /reference:"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\System.ComponentModel.DataAnnotations.dll" /reference:"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\System.Core.dll" /reference:"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\System.Data.DataSetExtensions.dll" /reference:"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\System.Data.dll" /reference:"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\System.dll" /reference:"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\System.Runtime.Serialization.dll" /reference:"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\System.Xml.dll" /reference:"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\System.Xml.Linq.dll" /debug+ /debug:full /filealign:512 /optimize- /out:obj\Debug\IO.Swagger.dll /ruleset:"C:\Program Files (x86)\Microsoft Visual Studio 14.0\Team Tools\Static Analysis Tools\\Rule Sets\MinimumRecommendedRules.ruleset" /subsystemversion:6.00 /target:library /utf8output Api\DefaultApi.cs Api\DiscoveryApi.cs Api\GroupApi.cs Api\UserApi.cs Client\ApiClient.cs Client\ApiException.cs Client\ApiResponse.cs Client\Configuration.cs Client\ExceptionFactory.cs Client\GlobalConfiguration.cs Client\IApiAccessor.cs Client\IReadableConfiguration.cs Client\SwaggerDateConverter.cs Model\Address.cs Model\AnyValue.cs Model\BaseResource.cs Model\BasicListResponse.cs Model\BulkData.cs Model\BulkOperation.cs Model\BulkRequest.cs Model\Email.cs Model\Entitlement.cs Model\ErrorResponse.cs Model\Fido2DeviceResource.cs Model\Fido2ListResponse.cs Model\FidoDeviceResource.cs Model\FidoListResponse.cs Model\GenericListResponse.cs Model\GenericResource.cs Model\Group.cs Model\GroupListResponse.cs Model\GroupResource.cs Model\InstantMessagingAddress.cs Model\Member.cs Model\Meta.cs Model\Name.cs Model\OneOfGenericResource.cs Model\PatchOperation.cs Model\PatchRequest.cs Model\PhoneNumber.cs Model\Photo.cs Model\ResourceType.cs Model\ResourceTypeListResponse.cs Model\ResourceTypeSchemaExtensions.cs Model\Role.cs Model\SchemaAttribute.cs Model\SchemaListResponse.cs Model\SchemaResource.cs Model\SearchRequest.cs Model\ServiceProviderConfigResponse.cs Model\ServiceProviderConfigResponseAuthenticationSchemes.cs Model\ServiceProviderConfigResponseBulk.cs Model\ServiceProviderConfigResponseFilter.cs Model\ServiceProviderConfigResponseMeta.cs Model\ServiceProviderConfigResponsePatch.cs Model\UserListResponse.cs Model\UserResource.cs Model\X509Certificate.cs Properties\AssemblyInfo.cs "C:\Users\scott\AppData\Local\Temp\.NETFramework,Version=v4.5.AssemblyAttributes.cs" obj\Debug\\TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs obj\Debug\\TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs obj\Debug\\TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
1>  Using shared compilation with compiler from directory: C:\Program Files (x86)\MSBuild\14.0\bin
1>C:\Users\scott\Documents\Visual Studio 2010\gluu-scim-server-4.2.2-csharp-client\src\IO.Swagger\Model\PatchOperation.cs(64,119,64,120): error CS1001: Identifier expected
1>C:\Users\scott\Documents\Visual Studio 2010\gluu-scim-server-4.2.2-csharp-client\src\IO.Swagger\Model\PatchOperation.cs(64,129,64,130): error CS1031: Type expected
1>C:\Users\scott\Documents\Visual Studio 2010\gluu-scim-server-4.2.2-csharp-client\src\IO.Swagger\Model\PatchOperation.cs(91,23,91,24): error CS1519: Invalid token '{' in class, struct, or interface member declaration
1>C:\Users\scott\Documents\Visual Studio 2010\gluu-scim-server-4.2.2-csharp-client\src\IO.Swagger\Model\PatchOperation.cs(91,28,91,29): error CS1519: Invalid token ';' in class, struct, or interface member declaration
1>C:\Users\scott\Documents\Visual Studio 2010\gluu-scim-server-4.2.2-csharp-client\src\IO.Swagger\Model\PatchOperation.cs(91,33,91,34): error CS1519: Invalid token ';' in class, struct, or interface member declaration
1>C:\Users\scott\Documents\Visual Studio 2010\gluu-scim-server-4.2.2-csharp-client\src\IO.Swagger\Model\PatchOperation.cs(184,1,184,2): error CS1022: Type or namespace definition, or end-of-file expected
1>
1>Build FAILED.
1>
1>Time Elapsed 00:00:00.08
2>------ Rebuild All started: Project: IO.Swagger.Test, Configuration: Debug Any CPU ------
2>Build started 6/4/2021 4:36:25 PM.
2>ResolveAssemblyReferences:
2>  Primary reference "IO.Swagger".
2>      Could not find dependent files. Expected file "C:\Users\scott\Documents\Visual Studio 2010\gluu-scim-server-4.2.2-csharp-client\src\IO.Swagger\bin\Debug\IO.Swagger.dll" does not exist.
2>      Could not find dependent files. Expected file "C:\Users\scott\Documents\Visual Studio 2010\gluu-scim-server-4.2.2-csharp-client\src\IO.Swagger\bin\Debug\IO.Swagger.dll" does not exist.
2>      Resolved file path is "C:\Users\scott\Documents\Visual Studio 2010\gluu-scim-server-4.2.2-csharp-client\src\IO.Swagger\bin\Debug\IO.Swagger.dll".
2>      Reference found at search path location "".
2>      The ImageRuntimeVersion for this reference is "".
2>GenerateTargetFrameworkMonikerAttribute:
2>Skipping target "GenerateTargetFrameworkMonikerAttribute" because all output files are up-to-date with respect to the input files.
2>CoreCompile:
2>  C:\Program Files (x86)\MSBuild\14.0\bin\csc.exe /noconfig /nowarn:1701,1702,2008 /nostdlib+ /errorreport:prompt /warn:4 /define:DEBUG;TRACE /errorendlocation /preferreduilang:en-US /highentropyva+ /reference:"C:\Users\scott\Documents\Visual Studio 2010\gluu-scim-server-4.2.2-csharp-client\src\IO.Swagger\bin\Debug\IO.Swagger.dll" /reference:"C:\Users\scott\Documents\Visual Studio 2010\gluu-scim-server-4.2.2-csharp-client\packages\JsonSubTypes.1.2.0\lib\net45\JsonSubTypes.dll" /reference:"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\Microsoft.CSharp.dll" /reference:"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\mscorlib.dll" /reference:"C:\Users\scott\Documents\Visual Studio 2010\gluu-scim-server-4.2.2-csharp-client\packages\Newtonsoft.Json.10.0.3\lib\net45\Newtonsoft.Json.dll" /reference:"C:\Users\scott\Documents\Visual Studio 2010\gluu-scim-server-4.2.2-csharp-client\packages\NUnit.2.6.4\lib\nunit.framework.dll" /reference:"C:\Users\scott\Documents\Visual Studio 2010\gluu-scim-server-4.2.2-csharp-client\packages\RestSharp.105.1.0\lib\net45\RestSharp.dll" /reference:"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\System.ComponentModel.DataAnnotations.dll" /reference:"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\System.Core.dll" /reference:"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\System.Data.DataSetExtensions.dll" /reference:"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\System.Data.dll" /reference:"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\System.dll" /reference:"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\System.Runtime.Serialization.dll" /reference:"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\System.Xml.dll" /reference:"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\System.Xml.Linq.dll" /debug+ /debug:full /filealign:512 /optimize- /out:obj\Debug\IO.Swagger.Test.dll /ruleset:"C:\Program Files (x86)\Microsoft Visual Studio 14.0\Team Tools\Static Analysis Tools\\Rule Sets\MinimumRecommendedRules.ruleset" /subsystemversion:6.00 /target:library /utf8output Api\DefaultApiTests.cs Api\DiscoveryApiTests.cs Api\GroupApiTests.cs Api\UserApiTests.cs Model\AddressTests.cs Model\AnyValueTests.cs Model\BaseResourceTests.cs Model\BasicListResponseTests.cs Model\BulkDataTests.cs Model\BulkOperationTests.cs Model\BulkRequestTests.cs Model\EmailTests.cs Model\EntitlementTests.cs Model\ErrorResponseTests.cs Model\Fido2DeviceResourceTests.cs Model\Fido2ListResponseTests.cs Model\FidoDeviceResourceTests.cs Model\FidoListResponseTests.cs Model\GenericListResponseTests.cs Model\GenericResourceTests.cs Model\GroupListResponseTests.cs Model\GroupResourceTests.cs Model\GroupTests.cs Model\InstantMessagingAddressTests.cs Model\MemberTests.cs Model\MetaTests.cs Model\NameTests.cs Model\OneOfGenericResourceTests.cs Model\PatchOperationTests.cs Model\PatchRequestTests.cs Model\PhoneNumberTests.cs Model\PhotoTests.cs Model\ResourceTypeListResponseTests.cs Model\ResourceTypeSchemaExtensionsTests.cs Model\ResourceTypeTests.cs Model\RoleTests.cs Model\SchemaAttributeTests.cs Model\SchemaListResponseTests.cs Model\SchemaResourceTests.cs Model\SearchRequestTests.cs Model\ServiceProviderConfigResponseAuthenticationSchemesTests.cs Model\ServiceProviderConfigResponseBulkTests.cs Model\ServiceProviderConfigResponseFilterTests.cs Model\ServiceProviderConfigResponseMetaTests.cs Model\ServiceProviderConfigResponsePatchTests.cs Model\ServiceProviderConfigResponseTests.cs Model\UserListResponseTests.cs Model\UserResourceTests.cs Model\X509CertificateTests.cs "C:\Users\scott\AppData\Local\Temp\.NETFramework,Version=v4.5.AssemblyAttributes.cs" obj\Debug\\TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs obj\Debug\\TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs obj\Debug\\TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
2>  Using shared compilation with compiler from directory: C:\Program Files (x86)\MSBuild\14.0\bin
2>CSC : error CS0006: Metadata file 'C:\Users\scott\Documents\Visual Studio 2010\gluu-scim-server-4.2.2-csharp-client\src\IO.Swagger\bin\Debug\IO.Swagger.dll' could not be found
2>
2>Build FAILED.
2>
2>Time Elapsed 00:00:00.09
========== Rebuild All: 0 succeeded, 2 failed, 0 skipped ==========
```

And indeed it looks a bit wrong:

```c#
        public PatchOperation(OperationEnum operation = default(OperationEnum), string path = default(string),  value = default())
        {
            // to ensure "operation" is required (not null)
            if (operation == null)
            {
                throw new InvalidDataException("operation is a required property for PatchOperation and cannot be null");
            }
            else
            {
                this.Operation = operation;
            }
            this.Path = path;
            this.Value = value;
        }
```


I tried the HEAD version of the same file, and got the same result, so I don't think there is already a 'fix' for this (if indeed it's a problem with the YAML).

The relevant part of the YAML appears to be:

```yaml
    PatchOperation:
      required:
      - operation
      type: object
      properties:
        operation:
          type: string
          enum:
          - add
          - remove
          - replace
        path:
          type: string
          description: Required when type is remove, optional otherwise
        value:
          $ref: '#/components/schemas/AnyValue'
          description: Only required when type is add or replace
      description: See section 3.5.2 of RFC 7644
```


I don't know anything about YAML - but value seems to be a reference to this part:

```yaml
components:
  schemas:
    AnyValue:
      description: Can be any value - string, number, boolean, array or object
```

And that is almost an exact copy/paste from the swagger docs:
https://swagger.io/docs/specification/data-models/data-types/

So I tried replacing the definition with:

```yaml
components:
  schemas:
    AnyValue:
      anyOf:
        - type: string
        - type: number
        - type: boolean
        - type: array
        - type: object
      description: Can be any value - string, number, boolean, array or object
```


uploaded to https://app.swaggerhub.com/ downloaded the c# client library, extract ZIP, open in VS2015 and builds OK.

I'll continue with that - but if 'more' data types should be included, please let me know.

I haven't found a sample of calling this API yet, but I'll cross that bridge next...




The more I think about this, the more I think this is a bug in swagger (or at least their documentation).  So I created Case #00480040 in swagger/smartbear customer care.  

I'll post here any useful replies I get.

The response from swagger was:

"SwaggerHub exposes the open-source Codegen library as-is (https://github.com/swagger-api/swagger-codegen). SmartBear maintains the Codegen engine, but the specific language templates are developed and maintained by the open-source community.  Unfortunately, the issue you came across is specific to a language and thus needs to be tracked and fixed by the community. Please file a ticket for the issue in the Codegen project"

So I've done that:
https://github.com/swagger-api/swagger-codegen/issues/11035